*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.logo{
    /* width: 50px; */
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    /* width: 65%; */
}
.mens,
.women,
.mobileCover{
    text-decoration: none;
    color: rgb(107, 73, 73);
    padding: 10px 15px;
}
.navSearch{
    width: 350px !important;
}
 input::placeholder {
    font: 12px sans-serif;
}
.verticalLine{
    border-left: 2px solid rgb(158, 153, 153);
    height: 20px;
    position:absolute;
    left: 95%;
    bottom: 35px;
}
.homeContentContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
